
@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<EventEase.Models.Event>

<div class="container mt-4">
    <div class="event-header">
        <h2 class="text-center">Upcoming Events</h2>
        <p class="text-center">Check out the latest events happening in your area</p>
        
    </div>
    <div class="text-center">
        <a href="/Home/AddEvent" class="btn btn-primary ">Add Event</a>
    </div>
    
    <div class="row">
        
        @foreach (var eventItem in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@eventItem.EventName</h5>
                        <p class="card-text">
                            <strong>Date:</strong> @eventItem.EventData.ToString("f")
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>